* {
    margin: 5px;
    box-sizing: border-box;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 170, 255);
    background-color: rgb(160, 211, 255);
}

.menu {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.menu div {
    border: 2px solid rgb(80, 170, 255);
}

.hero {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 170, 255);
    background-color: rgb(160, 211, 255);
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.buy {
    display: inline-block;
    background-color: thistle;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    flex-direction: column;
    padding: 16px;
}

.hero img {
    float: right;
    flex: 1 1 280px;
    width: 200px;
}

.galeri {
    border: 1px solid teal;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    padding: 3px;
    width: 150px;
    border: 1px solid rgb(80, 170, 255);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 120px;
    align-self: center;
}

.btn {
    border-radius: 10px;
    text-align: center;
    width: 100px;
    align-self: center;
    background-color: aqua;
}

.footer {
    border: 1px solid aqua;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 211, 255);
}

.logo {
    border: 1px solid aqua;
    background-color: white;
}

.contact {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
}

.contact div {
    background-color: white;
    border: 1px solid aqua;
}