* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 170, 255);
    background-color: rgb(160, 211, 255);
}

.menu {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.menu div {
    border: 2px solid rgb(80, 170, 255);
}

.hero {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 170, 255);
    background-color: rgb(160, 211, 255);
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
}

.buy {
    display: inline-block;
    background-color: thistle;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    flex-direction: column;
    padding: 16px;
}

.hero img {
    float: right;
    flex: 1 1 280px;
    width: 200px;
}

.kartu {
    background-color: aqua;
    width: 200px;
}

.kartu img {
    width: 50px;
}

.grid-produk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}